<h1>Dashboard</h1>
<div class="row show-grid">
	<div class="span12">
			<h3>Latest Video</h3>
			<embed width="450" height="300" name="plugin" autoplay="false" src="http://prod.fieldvision.edgesuite.net/2011/1202-KevinsCorner.mp4?source=cecns" type="video/mp4">
		</div>
</div>
<div class="row show-grid">
	<div class="span6">
		<h3>Take the Quiz</h3>
		<div class="well">
			<h2><%= @question.question %></h2>
			<form accept-charset="UTF-8" action="/questions" method="get"> 
				<div class="field">
					<%= radio_button("point", :user_answer, 1) %>
					<%= label_tag(:correct_answer, @question.answer1 ) %>
					<%= radio_button("point", :user_answer, 2) %>
					<%= label_tag(:correct_answer, @question.answer2) %>
					<%= radio_button("point", :user_answer, 3) %>
					<%= label_tag(:correct_answer, @question.answer3) %>
					<%= radio_button("point", :user_answer, 4) %>
					<%= label_tag(:correct_answer, @question.answer4) %>
				  </div>
				<div class="actions">
				   <%= submit_tag "Submit", :class => 'btn btn-primary question-submission' %> 
				</div>
			</form>
		</div>
	</div>
	<div class="span6">
		<h3>Top 5 Salespeople</h3>
		<table class="table table-condensed">
			<thead>
		      <tr>
		        <th>Name</th>
		        <th>Number Correct</th>
				<th></th>
		      </tr>
		    </thead>
			<tbody>
				<% @users.take(5).each do |user| %>
					<tr>
						<td><%= get_username(user.user_id).name %></td>
						<td><span class="bar-chart row-<%= user.count %>"><%= user.count %></span></td>
						<td></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to "View All Salespeople", charts_path, :class => "btn btn-primary" %>
	</div>
</div>
<div class="row">
	<br />
</div>
