<div class="row">
	<div class="span4">
		<%= form_for(@user, :html => { :class => 'well' }) do |f| %>
		<h1>Sign Up</h1>
		  <% if @user.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
		      <ul>
		      <% @user.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
 		 <div class="field">
		    <%= f.label :name %>
		    <%= f.text_field :name %>
		  </div>
		  <div class="field">
		    <%= f.label :email %>
		    <%= f.text_field :email %>
		  </div>
		  <div class="field">
		    <%= f.label :password %>
		    <%= f.text_field :password %>
		  </div>
		  <div class="field"> 
			 <%= f.label :password_confirmation, "Confirmation" %>
			 <%= f.password_field :password_confirmation %>
		  </div>
		  <div class="field">
			<%= radio_button("user", :user_type, 0, :class => 'first-radio') %>
			<%= label_tag(:user_type, "I'm in Sales", :class => 'radio-label') %>
			<%= radio_button("user", :user_type, 1) %>
			<%= label_tag(:age_child, "I'm an Administrator", :class => 'radio-label') %>
		  </div>
		  <div class="actions">
		    <%= f.submit "Sign Up", :class => 'btn-primary' %>
		  </div>
		</div>	
	<div class="span8">
		<h3>Invega Product Leaderboard is designed to measure and improve your salesteam's knowledge of Invega Products.</h3>
		<br />
		<p>Signing Up as an <strong>Administrator</strong> allows you to administer quizzes, create questions, and create achievement badges.</p>
		<p>Signing Up as a <strong>Salesperson</strong> allows you to take quizzes and gauge your knowledge of the medications you are selling to physicians.</p>
	</div>
</div>
<% end %>
