<%= form_for(@user, :html => { :class => 'well' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <div class="field"> 
	 <%= f.label :password_confirmation, "Confirmation" %>
	 <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
	<%= radio_button("user", :user_type, 0) %>
	<%= label_tag(:user_type, "Sales") %>
	<%= radio_button("user", :user_type, 1) %>
	<%= label_tag(:age_child, "Admin") %>
  </div>
  <div class="actions">
    <%= f.submit "Sign Up", :class => 'btn-primary' %>
  </div>
<% end %>
