<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Encrypted Password:</b>
  <%= @user.encrypted_password %>
</p>

<p>
  <b>User Type:</b>
  <%= @user.user_type %>
</p>
