<div class="navbar navbar-fixed-top">
	<div>
		<div class="container">
			<ul class="nav">
				<li class="">
					<% if signed_in? %>
						<%= link_to 'Dashboard', dashboard_path %>
					<% else %>
						<%= link_to 'Sign Up', new_user_path %>
					<% end %>
				</li>
					<% if signed_in? %> 
						<% if current_user.user_type == 0 %>
							<li class=""><%= link_to 'Take the Quiz', questions_path %></li>
							<li class=""><%= link_to 'My Score', points_path %></li>
						<% else %>
							<li class=""><%= link_to 'Create a Quiz', new_question_path %></li>
							<li class=""><%= link_to 'My Questions', questions_path %></li>
						<% end %>
						<li class=""><%= link_to 'User Statistics', charts_path %></li>
						<li><%= link_to "Sign out", signout_path, :method => :delete %></li> 
					<% else %>
						 <li><%= link_to "Sign in", signin_path %></li> 
					<% end %>
			</ul>
		</div>
	</div>
</div>