<!DOCTYPE html>
<html>
<head>
  <title>Sales Quiz and Leaderboard | <%= @title %></title>
  <%= render 'layouts/stylesheets' %>	
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container" style="padding-top:50px;">	
	<%= yield %>
</div>
</body>
</html>
